<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--一定要说明名称空间，mybatis才能明白你这个类是给那个接口的实现-->

<mapper namespace="com.zyt.cloud.provider.dao.SignDao">
    <resultMap id="signMap" type="com.zyt.common.entity.StudentSign">
        <result property="userid" column="userid"/>
        <result property="name" column="name"/>
        <result property="clsname" column="clsname"/>
        <result property="stime" column="stime"/>
        <result property="type" column="type"/>
    </resultMap>

    <!-- <select id="getUser"  resultMap="userMap">
         select * from t_users;
     </select>-->

    <insert id="save" parameterType="com.zyt.common.entity.StudentSign">
        insert into t_sign (userid, name, clsname, stime, type)
        values (#{userid}, #{name}, #{clsname}, #{stime}, #{type})
    </insert>

    <select id="getAll" resultMap="signMap">
        select *
        from t_sign;
    </select>

    <select id="getByName" parameterType="string" resultMap="signMap">
        select *
        from t_sign
        where
        <if test="name != null">
            name  = #{name}
        </if>
    </select>


</mapper>

